<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<main>
  <h2>Fight Show Page</h2>
  <ul>
    <li><%=fight.name%></li>
    <li><%=fight.date.toLocaleString()%> EST</li>
    <li><%=fight.whereToWatch%></li>
    <li><%=fight.fightList%></li>
    <% if(currentUser === undefined){ %>
    <%}else if(currentUser.admin === true){ %>
      <div class="lineUpButtons">
        <a class="btn btn-danger editbuttons" href="/onefc/<%=fight.id%>/edit">Edit</a>
        <form  action="/onefc/<%=fight.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </ul>
  <a class="btn btn-danger" href="/onefc">Back to One FC page</a>

</main>

<%- include('../partials/footer.ejs') %>
