<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<main>

  <h3>Edit <%=fight.name %> fight</h3>
  <form action="/ufc/<%=fight.id%>?_method=PUT" method="POST">
    <label>Name:
      <input type="text" name="name" value="<%=fight.name%>"/>
    </label>
    <label>Date:
      <input type="text" name="date" value="<%=fight.date%>"/>
    </label>
    <label>Where to Watch:
      <input type="text" name="whereToWatch" value="<%=fight.whereToWatch%>"/>
    </label>
    <label>Fight Card:
      <input type="text" name="fightList" value="<%=fight.fightList%>"/>
    </label>
    <input type="submit" name="" value="Submit Changes"/>
  </form>




</main>

<%- include('../partials/footer.ejs') %>
