<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<main>
  <h2>Fight Show Page</h2>
  <ul>
    <li><%=fight.name%></li>
    <li><%=fight.date.toLocaleString()%> EST</li>
    <li><%=fight.whereToWatch%></li>
    <li><%=fight.location%></li>
    <li><%=fight.fightList[0]%></li>
    <li><%=fight.fightList[1]%></li>
    <% if(currentUser === undefined){ %>
    <%}else if(currentUser.admin === true){ %>
      <div class="lineUpButtons">
        <a class="btn btn-danger editbuttons" href="/ufc/<%=fight.id%>/edit">Edit</a>
        <form  action="/ufc/<%=fight.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </ul>
  <a class="btn btn-danger backShow" href="/ufc">Back to UFC page</a>
  <br>
</main>

<%- include('../partials/footer.ejs') %>
