<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
  <h3>UFC Fights Page</h3>
  <ul>
    <% for(let i = 0; i < fights.length; i++) { %>
      <li>
        <a href="/ufc/<%=fights[i].id%>"><%=fights[i].name%> </a>
        <p><%=fights[i].fightList[0]%>
        </p>
        <a href="/fights/<%=fights[i].id%>/edit">Edit</a>
        <form  action="/ufc/<%=fights[i].id%>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
      </li>
    <% } %>
  </ul>

  <a href="ufc/new">Add a fight</a>
</main>
<%- include('./partials/footer.ejs') %>
