<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<main>
  <h2>Fight Show Page</h2>
  <ul>
    <li><%=fight.name%></li>
    <li><%=fight.date.toLocaleString()%> EST</li>
    <li><%=fight.whereToWatch%></li>
    <li><%=fight.fightList%></li>
    <a href="/ufc/<%=fight.id%>/edit">Edit</a>
  </ul>
  <a href="/ufc">Back to UFC page</a>

</main>

<%- include('./partials/footer.ejs') %>
